<div  class="no-style-button">
  <form id="delete-button" method="POST" action="/potlucks/<%= potluck.id %>">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" class="button" value="delete" />
  </form>
</div>
