<ul>
  <% @current_potlucks.each do |event| %>
    <li class="event">
      <span class="event-name"><%= event.name %></span>
      <span class="event-details"><%= time(event.starts_at) %> at <%= event.location %></span>
  </li>
  <% end %>
</ul>
