<% if @delete %>
  <span id="delete-message"><%= @delete %></span>
<% end %>

<ul>
  <% @current_potlucks.each do |event| %>
    <%= erb :"/potlucks/_show_potluck", locals: {event: event} %>
  <% end %>
</ul>
