<% if @delete %>
  <span id="delete-message"><%= @delete %></span>
<% end %>
<div id="potluck-home-list">
  <ul>
    <% @current_potlucks.each do |event| %>
      <%= erb :"/potlucks/_show_potluck", locals: {event: event} %>
    <% end %>
  </ul>
</div>
