
<div class="new-potluck-form">
  <form method="POST" action="/potlucks">
    <label for="name">Potluck Name:</label>
    <input type="text" name="potluck[name]">
    <label for="location">Potluck Location:</label>
    <input type="text" name="potluck[location]">
    <label for="starts_at">Start at:</label>
    <input type="datetime-local" name="potluck[starts_at]">
    <input type="submit" value="Host Potluck">
  </form>
</div>
